.NaverDashboard {
  width: 100%;
  height: 100%;

  background-color: #fafafa;

  position: relative;

  overflow-y: auto;
}

.NaverDashboardContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NaverDashboardLastUpdated {
  position: fixed;
  bottom: 16px;
  right: 24px;

  color: #aaaaaa;
  font-size: 12px;
}

.NaverDashboardContentTop {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;

  padding: 20px 20px 0 20px;
  box-sizing: border-box;

  height: 100vh;
  min-height: 600px;
}

.NaverDashboardContentLeft {
  height: 100%;

  display: flex;
  align-items: center;
}

.NaverDashboardContentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.NaverDashboardContentBottom {
  width: fit-content;
  min-width: calc(820px + 500px + 30px);

  margin: 20px auto;
  padding: 0 20px 40px 20px;
  box-sizing: border-box;
}
